.footer
  .footer__top
    .footer__top__title
      だれでもかんたん、人生を変える変えるフリマアプリ
    .footer__top__text
      今すぐ無料ダウンロード！
      
      .footer__top__btn
        =link_to "https://www.apple.com/jp/ios/app-store/" do
          = image_tag "app-store-badge.png",class:"footer__top__btn--apple"
        =link_to "https://play.google.com/store?hl=ja" do
          = image_tag "google-play-badge.png",class:"footer__top__btn--google"
        
  .footer__bottom-about
    .footer__bottom-about-furima
      %p.furima
        %b FURIMAについて
      =link_to "会社概要（運営会社）", "#", class: "furima-detail"
      =link_to "プライバシーポリシー", "#", class: "furima-detail"
      =link_to "FURIMA利用規約", "#", class: "furima-detail"
      =link_to "ポイントに関する特約", "#", class: "furima-detail"
    .footer__bottom-about-watch
      %p.watch
        %b FURIMAを見る
      =link_to "カテゴリー一覧",  "#",  class: "watch-detail"
      =link_to "ブランド一覧",  "#",  class: "watch-detail"
    .footer__bottom-about-help
      %p.help
        %b ヘルプ&ガイド
      =link_to "FURIMAガイド", "#", class: "help-detail"
      =link_to "FURIMAロゴ利用ガイドライン", "#", class: "help-detail"
      =link_to "お知らせ", "#", class: "help-detail"
  =image_tag("logo-white.png",class: "last-logo")
  %p.furimalogo
    %b ©️FURIMA