.single-container{
  .single-header {
    background-color: #272727;
    height: 128px;
    display: flex;
    justify-content: center;
    &__logo {
      margin: 40px 0 0;
    }

    &__progress {
      padding: 40px 0 0 44px;
      &__text {
        position: relative;
        &--active {
          font-weight: 600px;
          color: #3CCACE;
          display: inline-block;
          min-width: 60px;
          margin: 0 40px 0 0;
          font-size: 12px;
          &__text {
            margin-left: 5px;
          }
          .single-header__progress__round--blue {
            background-color: #3CCACE;
            width: 12px;
            height: 12px;
            margin: 8px auto 0;
            border-radius: 50%;
          }
          .single-header__progress__round--blue::after {
            position: absolute;
            display: block;
            z-index: 0;
            bottom: 5px;
            content: '';
            height: 2px;
            background: white;
            width: 74px;
            right: 66%;
          }
        }
        &--tell {
          font-weight: 600px;
          color: white;
          display: inline-block;
          min-width: 60px;
          margin: 0 40px 0 0;
          font-size: 12px;
        }
        &--end {
          font-weight: 600px;
          color: white;
          display: inline-block;
          min-width: 60px;
          margin: 0 40px 0 0;
          font-size: 12px;
          &__text {
            margin-left: 18px;
          }
        }
        .single-header__progress__round {
          background-color: white;
          width: 12px;
          height: 12px;
          margin: 8px auto 0;
          border-radius: 50%;
        }
        .single-header__progress__round::after {
          position: absolute;
          display: block;
          content: '';
          bottom: 5px;
          height: 2px;
          width: 102px;
          background: white;
          left: 45%;
        }
        .single-header__progress__round::before {
          position: absolute;
          display: block;
          content: '';
          bottom: 5px;
          height: 2px;
          width: 38px;
          background: white;
          right: 57%;
        }
        // address
        &_address--active {
          font-weight: 600px;
          color: #3CCACE;
          display: inline-block;
          min-width: 60px;
          margin: 0 40px 0 0;
          font-size: 12px;
          &__text {
            margin-left: 5px;
          }
          .single-header__progress_address__round--blue {
            background-color: #3CCACE;
            width: 12px;
            height: 12px;
            margin: 8px auto 0;
            border-radius: 50%;
          }
          .single-header__progress_address__round--blue::after {
            position: absolute;
            display: block;
            z-index: 0;
            bottom: 5px;
            content: '';
            height: 2px;
            background: #3CCACE;
            width: 74px;
            right: 66%;
          }
        }
        &_address--tell {
          font-weight: 600px;
          color: #3CCACE;
          display: inline-block;
          min-width: 60px;
          margin: 0 40px 0 0;
          font-size: 12px;
        }
        .single-header__progress_address__round--blue_2 {
          background-color: #3CCACE;
          width: 12px;
          height: 12px;
          margin: 8px auto 0;
          border-radius: 50%;
        }
        &_address--end {
          font-weight: 600px;
          color: white;
          display: inline-block;
          min-width: 60px;
          margin: 0 40px 0 0;
          font-size: 12px;
          &__text {
            margin-left: 18px;
          }
        }
        .single-header__progress_address__round {
          background-color: white;
          width: 12px;
          height: 12px;
          margin: 8px auto 0;
          border-radius: 50%;
        }
        .single-header__progress_address__round::after {
          position: absolute;
          display: block;
          content: '';
          bottom: 5px;
          height: 2px;
          width: 104px;
          background: white;
          left: 45%;
        }
        .single-header__progress_address__round::before {
          position: absolute;
          display: block;
          content: '';
          bottom: 5px;
          height: 2px;
          width: 38px;
          background: #3CCACE;
          right: 57%;
        }
        // complete
        &_complete--active {
          font-weight: 600px;
          color: #3CCACE;
          display: inline-block;
          min-width: 60px;
          margin: 0 40px 0 0;
          font-size: 12px;
          &__text {
            margin-left: 5px;
          }
          .single-header__progress_complete__round--blue {
            background-color: #3CCACE;
            width: 12px;
            height: 12px;
            margin: 8px auto 0;
            border-radius: 50%;
          }
          .single-header__progress_complete__round--blue::after {
            position: absolute;
            display: block;
            z-index: 0;
            bottom: 5px;
            content: '';
            height: 2px;
            background: #3CCACE;
            width: 74px;
            right: 66%;
          }
        }
        &_complete--tell {
          font-weight: 600px;
          color: #3CCACE;
          display: inline-block;
          min-width: 60px;
          margin: 0 40px 0 0;
          font-size: 12px;
        }
        &_complete--end {
          font-weight: 600px;
          color: #3CCACE;
          display: inline-block;
          min-width: 60px;
          margin: 0 40px 0 0;
          font-size: 12px;
          &__text {
            margin-left: 18px;
          }
        }
        .single-header__progress_complete__round {
          background-color: #3CCACE;
          width: 12px;
          height: 12px;
          margin: 8px auto 0;
          border-radius: 50%;
        }
        .single-header__progress_complete__round::after {
          position: absolute;
          display: block;
          content: '';
          bottom: 5px;
          height: 2px;
          width: 102px;
          background: #3CCACE;
          left: 45%;
        }
        .single-header__progress_complete__round::before {
          position: absolute;
          display: block;
          content: '';
          bottom: 5px;
          height: 2px;
          width: 38px;
          background: #3CCACE;
          right: 57%;
        }
      }
    }
  }
  .single-main {
    &_container {
      width: 700px;
      margin: 0 auto;
      background: #fff;
    }
    .single-head_registration {
      font-size: 22px;
      padding: 32px;
      text-align: center;
      font-weight: 600;
    }
    .single-head_content{
      max-width: 343px;
      margin: 0 auto;
      .form-group {
        margin: 24px 0 0;
        label {
          font-weight: 600;
          display: inline-block;
        }
        input {
          display: block;
          width: 100%;
          margin: 8px 0 0;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          line-height: 1.5;
          font-size: 16px;
        }
        &__require {
          background-color: #3CCACE;
          margin: 0 0 0 8px;
          padding: 2px 4px;
          border-radius: 2px;
          color: #fff;
          font-size: 12px;
        }
        &__text{
          display: block;
          width: 100%;
          margin: 8px 0 0;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          line-height: 1.5;
          font-size: 16px;
        }
        .birthday {
          display: block;
          width: 100%;
          margin: 8px 0 0;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          line-height: 1.5;
          font-size: 16px;
        }
        select {
          margin: 8px 0 0;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          line-height: 1.5;
          font-size: 16px;
          cursor: pointer;
        }
        &__next {
          margin: 24px 0 40px;
          &__address {
            display: block;
            width: 100%;
            font-weight: 600;
            line-height: 48px;
            font-size: 14px;
            border-radius: 4px;
            background: #3CCACE;
            border: 1px solid #3CCACE;
            color: #fff;
            cursor: pointer;
          }
        }
      }
      
      .form-group__harf {
        margin: 24px 0 0;
        label {
          font-weight: 600;
          display: inline-block;
        }
        &__require {
          background-color: #3CCACE;
          margin: 0 0 0 8px;
          padding: 2px 4px;
          border-radius: 2px;
          color: #fff;
          font-size: 12px;
        }
        &__text {
          display: block;
          width: calc(50% - 6px);
          width: 45%;
          margin: 8px 8px 0 0;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          line-height: 1.5;
          font-size: 16px;
        }
      }
    }
  }
  .single-footer {
    background-color: #272727;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    height: 150px;
    padding: 40px 0;
    text-align: center;
    &__logo {
      height: 65px;
      margin: 40px auto 0;
    }
  }


  .single-address-main {
    &__container {
      width: 700px;
      margin: 0 auto;
      background: #fff;
      &__title{
        font-size: 22px;
        padding: 32px;
        text-align: center;
        font-weight: 600;
      }
      &__form__frame {
        max-width: 343px;
        margin: 0 auto;
  
        .form-group {
          margin: 24px 0 0;
          label {
            font-weight: 600;
            display: inline-block;
          }
          &__require {
            background-color: #3CCACE;
            margin: 0 0 0 8px;
            padding: 2px 4px;
            border-radius: 2px;
            color: #fff;
            font-size: 12px;
          }
          &__optional {
            background-color: #3CCACE;
            margin: 0 0 0 8px;
            padding: 2px 4px;
            border-radius: 2px;
            color: #fff;
            font-size: 12px;
          }
          &__input {
            display: block;
            width: 100%;
            margin: 8px 0 0;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fff;
            line-height: 1.5;
            font-size: 16px;
          }
          &__prefecture {
            display: block;
            width: 100%;
            margin: 8px 0 0;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fff;
            line-height: 1.5;
            font-size: 16px;
          }
          select {
            margin: 8px 0 0;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fff;
            line-height: 1.5;
            font-size: 16px;
            cursor: pointer;
          }
        }
        .form-group__end {
          margin: 24px 0 40px;
          .btn-default__btn-blue {
            display: block;
            width: 100%;
            font-weight: 600;
            line-height: 48px;
            font-size: 14px;
            border-radius: 4px;
            background: #3CCACE;
            border: 1px solid #3CCACE;
            color: #fff;
            cursor: pointer;
          }
        }
      }
    }
  }
  .single-complete-main {
    &__container {
      width: 700px;
      margin: 0 auto;
      background: #fff;
      height: calc(100vh - 358px);
      &__title {
        font-size: 22px;
        padding: 50px;
        text-align: center;
        font-weight: 600;
      }
      &__form__frame {
        font-size: 18px;
        text-align: center;
      }
      .form-group__end {
        margin: 100px 0 ;
        text-align: center;
        .box__btn-wrapper__back-btn {
          margin: 0 auto;
          display: block;
          width: 40%;
          line-height: 48px;
          font-size: 14px;
          border-radius: 4px;
          background-color: #3CCACE;
          border: 1px solid #3CCACE;
          color: #fff;
          cursor: pointer;
          text-decoration: none;
        }

      }
    }
  }

}


