// Place all the styles related to the sellers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.seller {
  
  background: #f5f5f5;
  width: 100vw;
  .product-main{
    &__inner{
      background-color: #fff;
      margin: 0 auto;
      width: 700px;
      padding: 30px;
      &__name{
        font-weight: bold;
        font-size: 30px;
        padding: 20px 16px;
        text-align: center;
      }
      &__box{
        display: flex;
        justify-content: center;
        table{
          width: 350px;
          margin: 0 auto;
          border: 1px solid #f5f5f5;
        }
        tr{
          height: 40px;
        }
        th{
          width: 40%;
          text-align: center;
          background-color: #f5f5f5;
        }
        td{
          width: 60%;
          font-size:  15px;
          padding: 0 5px;
        }
        
        &__price {
          display: flex;
          justify-content: center;
          margin: 20px 0;
          &__sum{
            font-weight: bold;
            font-size: 30px;
          }
          &__tax{
            margin-left: 30px;
            padding-top: 15px;
          }
          &__postage{
            margin-left: 10px;
            padding-top: 15px;
          }
        }
        &__btn{
          background-color: #ff0211;
          color:  #fff;
          font-weight: bold;
          font-size: 30px;
          margin: 0 auto;
          cursor: pointer;
          border: 1px solid #ff0211;
          width: 100%;
          border-radius: 10px;
        }
        &__descripton{
          white-space: pre-wrap;
          display: flex;
          text-align: left;
          font-size: 20px;
        }
        &__report{
          display: flex;
          margin: 20px 0;
          &__left{
            margin-right: 30px;
          }
        input{
          border: 1px solid #f5f5f5;
          padding: 5px;
          border-radius: 10px;
        }
        }
      }
    }
    &__message{
      background-color: #fff;
      margin: 20px auto;
      width: 700px;
      padding: 30px;
      text-align: left;
      
      textarea {
        resize: none;
        width:100%;
        height:200px;
        font-size: 20px;
      }
      &__btn{
        font-size: 20px;
        margin: 20px auto;
        cursor: pointer;
        width: 100%;
        padding: 10px;
      }
    }
  }
}