.head{
  height: 128px;
  width: 100%;
  text-align: center;
  background-color: whitesmoke;
  padding-top: 50px ;
}

.main{
  width: 100%;
  background-color: whitesmoke;
  .content{
    width: 700px;
    margin: 0 auto;
    background-color: white;
    .box{
      padding: 40px;
      border-bottom: 1px solid rgba(51,51,51,0.1);
      &__info{
        color: #888888;
        font-weight: 600;
        margin-bottom: 24px;
        display: flex;
        justify-content: left;
        align-items: center;
        
      }
      .item-num-0{
        width: auto;
      }
      .item-num{
        width: auto;
      }
      .item-image__operation--delete{
        color: skyblue;
        text-align: center;
      }
      .post__drop__box__container{
        display: block;
        margin: 16px auto 0;
        display: flex;
        flex-wrap: wrap;
      
        //プレビュー表示欄のCSS
        .prev-content {
          display: flex;
          
        }
        //file_fieldのcss
        .hidden-content {
          .hidden-field {
            //display: none;
          }
        }
      }
      &__title{
        display: flex;
        justify-content: left;
        align-items: center;
        font-weight: bold;
        margin-bottom: 16px;
        
        &--required{
          background-color: #ff0211;
          margin-left: 8px;
          padding: 0 4px;
          font-size: 12px;
          line-height: 1.4em;
          color: white;
          border-radius: 2px;
        }
        &--optional{
          background-color: #ccc;
          margin-left: 8px;
          padding: 0 4px;
          font-size: 12px;
          line-height: 1.4em;
          color: white;
          border-radius: 2px;
        }
      }
      &__count{
        height: 16px;
        margin-top: 10px;
        text-align: right;
      }
      &__margin{
        height: 30px;
      }
      &__file{
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        &-info{
          margin-bottom: 16px;
          font-size: 13px;
        }
        &__field{
          height: 150px;
          width: 100%;
          background-color: whitesmoke;
          border: 1px dashed #cccccc;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          position: relative;
        }
      }
      &__category{
        height: 48px;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        padding: 0 5px 0 10px;
        outline: none;
      }
      &__input{
        height: 48px;
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        padding: 0 5px 0 10px;
        outline: none;
        &--input-price{
          width: 285px;
          padding: 0 16px;
          text-align: right;
          height: 40px;
          float: right;
        }
      }
      .pricemark{
        text-align: center;
        font-size: 20px;
      }
      &__sell-info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 46px;
        margin: 12px 0;
        color: #333333;
        &--title{
          font-size: 15px;
        }
        &__sell-profit-box{
          border-top: 1px solid rgba(51,51,51,0.1);
        }
      }
      &__btn-wrapper{
        margin-bottom: 32px;
        &__submit-btn{
          height: 48px;
          width: 360px;
          font-size: 17px;
          font-weight: 600;
          cursor: pointer;
          text-align: center;
          border: 1px solid transparent;
          border-radius: 4px;
          display: flex;
          justify-content: center;
          text-align: center;
          background-color: #ff0211;
          color: white;
          margin: 0 auto 24px;

        }
        &__back-btn{
          height: 48px;
          width: 360px;
          font-size: 17px;
          font-weight: 600;
          cursor: pointer;
          text-align: center;
          border: 1px solid transparent;
          border-radius: 4px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #ccc;
          color: black;
          margin: 0 auto;
          text-decoration: none;
        }

      }
      &__attention {
        font-size: 12px;
        a {
          color: skyblue;
          word-break: keep-all;
          display: inline-block;
          cursor: pointer;
        }
        a:hover {
          text-decoration: underline;
          opacity: 0.6;
        }
      }
    }
  }
}

.footer {
  text-align: center;
  width: 100%;
  padding: 40px 0 40px;
  background-color: whitesmoke;
  ul {
    list-style: none;
    li {
      font-size: 12px;
      margin: 0 7px;
      a {
        color: black;
      }
      a:hover {
        text-decoration: none;
        opacity: 0.6;
      }
    }
  }
  .footer--logo {
    display: inline-block;
    margin-top: 30px;
  }
  p {
    font-size: 12px;
  }
}
