.footer {

  text-align: center;
  padding: 50px 20px;
  &__box {
    list-style: none;
      a{
        text-decoration: none;
        color: #333333;
        padding: 0 10px;
      }
      .image{
        display: block;
        margin: 0 auto;
        padding-top: 30px;
      }
  }

