.buy{
  text-align: center;
  background: #f5f5f5;
  width: 100vw;
  .main {
    &__inner {
      background-color: #fff;
      margin: 0 auto;
      width:500px;
      &__head {
        padding: 10px 0;
        background-color: yellow;
      }
      &__title {
        font-size: 25px;
        padding: 10px;
        font-weight: bold;
      }
      &__product {
        border-top: 1px solid  #f5f5f5;
        padding: 20px;
        display: flex;
        justify-content: space-around;
        &__box {
          
          &__price{
            display: flex;
            margin-top: 20px;
            &__included {
              font-size: 13px;
              margin: auto 0;
            }
            &__sum {
              margin-left: 15px;
            }
          }
        }
      }
      &__payment {
        border-top: 1px solid  #f5f5f5;
        padding: 20px;
        display: flex;
        justify-content: space-around;
        font-size: 20px;
        font-weight: bold;
        &__total {
          padding-right: 100px;
        }
      }
      &__top-page {
        border-top: 1px solid  #f5f5f5;
        padding: 30px;
        .btn {
          border: 1px solid #cccccc;
          background-color: #cccccc;
          color: #000000;
          border-radius: 4px;
          padding: 15px 100px;
          cursor: pointer;
        }
      }
    }
  }
 

}

